.card-img-top {
    border-radius: 10%;
}

.bottomblock {
    color: white;
}

.bottomblock p {
    font-size: 0.7em;
}

footer {
    background-color: #333745;
    font-size: 0.5em;
    text-align: center;
}

.jumbotron {
    background-image: url(Images/hpcar/hpcar4a.png) ;
    background-size: cover;
}

