mhhtml,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: #BFD7EE;
    color: #333745;
    
}

h1 {
  font-weight: 800;
}

h2, h3 {
  font-weight: 600;
}

p {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 2em
}

.afterSection {
    margin-bottom: 50px;
}

.beforeSection {
    padding-top: 50px;
}

.priceSmall {
    font-size: 0.6em
}

.topSection {
    margin-top: 5%;
    margin-bottom: 10%;
}

.h1Header {
    padding-bottom: 10%;
}

.newSection {
    margin-top: 10%;
    margin-bottom: 15%;
}

.doubleTier {
    margin-top: 15%;
}

.buttonTier {
    margin-top: 10%;
}

.photogCarousel {
    border: 2px #333745 solid;
    border-radius: 5%;
}

.thumbnailGap {
    padding-top:8%;
}

.container {
    width: 90%;
}

.bottomblock {
    color: white;
}

.rcjLogo {
    width: 270px;
    height: 90px; 
}


.epcLogo {
    max-width: 320px;
    float: center;
}

.elmhurstLogo {
    max-width: 320px;
    float: center;
}

.bottomblock p {
    font-size: 0.7em;
}

footer {
    background-color: #333745;
    font-size: 0.5em;
    text-align: center;
}

.material-icons.md-48 {
    font-size: 48px; 
}

.metroPixPad {
    padding-bottom: 50px;
}

.services {
    margin-bottom: 15%;
}

.getInTouch {
    margin-bottom: 10%;
}

hr {
  width: 15%;
  border: 0;
  border-top: 1px solid #031D44;
}

#map {       
  height: 400px;
  width: 100%;
}


footer {
    background-color: #031D44;
}

ul{ 
    list-style-type: none;
} 

.contact-section {
    background-color: #333745;
    color: white;
}

.checkBxs {
    display: inline-block;
}

.contactSection {
    margin-top: 10%;
    margin-bottom: 50px;
}
